<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    header{
      background-color: rgb(172, 78, 38);
      color: white;
      text-align: center;
      padding:30px;
    }

    .top{
        background-color: rgb(81, 159, 176);
        padding:20px;
        color: white;
      }
      *{
        margin: 0;
      }
  </style>
</head>
<header>
  <h1>ORDER COSMETICS ONLINE</h1>
</header>
<body>
  <div class="top">
  <span>
  <h2>SHOP BY CATEGORY</h2>
  <form action="http://127.0.0.1:5000/search_product" method="POST">
    <p> <input type="text" name="itemname" placeholder="Search" ></p>
    <p><input type="submit"></p>
</form>
  </div>
  </span>
  <br>
  <br>

  <main>
    <img src="https://w7.pngwing.com/pngs/1010/37/png-transparent-lotion-cosmetics-cream-nail-cosmetics-cream-cosmetics-lipstick.png" alt="vegetable image" width="250px" height="250px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_pIDFTpOEE1YzMusug7PqajZ87YdidYDSmhzOPB8S3TjCT8hu7XtnG68CnIytFqdPmVA&usqp=CAU" alt="" width="250px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnWAuRXdDjob4XNd4P-WOpyuO5TBN9Q2gh528jts1u38MeG12KEuJ-PjWDJ_Cmu-czSgI&usqp=CAU" alt="" width="250px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>

    
</body>
</html>

