<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    header{
      background-color: rgb(231, 163, 25);
      color: white;
      text-align: center;
      padding:30px;
    }

    .top{
        background-color: rgb(140, 136, 129);
        padding:20px;
        color: white;
      }
      *{
        margin: 0;
      }
  </style>
</head>
<header>
  <h1>ORDER GROCERIES ONLINE</h1>
</header>
<body>
  <div class="top">
  <span>
  <h2>SHOP BY CATEGORY</h2>
  <form action="http://127.0.0.1:5000/search_product" method="POST">
    <p> <input type="text" name="itemname" placeholder="Search" ></p>
    <p><input type="submit"></p>
</form></a>
  </div>
  </span>
  <br>
  <br>

  <main>
    <img src="https://www.wallpaperflare.com/static/965/895/782/vegetables-herbs-lots-of-wallpaper.jpg" alt="vegetable image" width="250px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://pluspng.com/img-png/grocery-items-png-enjoy-online-grocery-shopping-in-bhubaneswar-with-4-easy-steps-click-submit-pay-and-pick-up-2362.jpg" alt="" width="250px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://th.bing.com/th/id/OIP.SshE3ClobKzv1_7hNEpwsQAAAA?rs=1&pid=ImgDetMain" alt="" width="250px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://i.pinimg.com/originals/6c/a8/f0/6ca8f02f56d48f0daf38063da995e763.png" alt="" width="250px">
    
</body>
</html>

