<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
        }
        header{
            text-align: center;
            color: white;
            background-color: blue;
            padding: 20px;
        }
        .class{
            text-align: center;
             border: 1px solid black;
             background-color: burlywood;
             padding: 10px;
        }

    </style>
</head>
<header>
    <h1>PLEASE LOGIN</h1>
</header>
<br>
<body>
   
<div class="class">   
<h2>Login </h2>
<br>
<a href="http://127.0.0.1:5000/sellerloginpg"><button>SELLER</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:5000/consumer"><button>CONSUMER</button></a>
</div>
    
</body>
</html>