<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    header{
      background-color: rgb(79, 155, 158);
      color: white;
      text-align: center;
      padding:30px;
    }

    .top{
        background-color: rgb(24, 24, 103);
        padding:20px;
        color: white;
      }
      *{
        margin: 0;
      }
  </style>
</head>
<header>
  <h1>ORDER MEDICINE ONLINE</h1>
</header>
<body>
  <div class="top">
  <span>
  <h2>SHOP BY CATEGORY</h2>
  
  <form action="http://127.0.0.1:5000/search_product" method="POST">
    <p> <input type="text" name="itemname" placeholder="Search" ></p>
    <p><input type="submit"></p></a>
  </form>
  </div>
  </span>
  <br>
  <br>

  <main>
    
    <img onerror="this.src='/assets/icons/img_placeholder.svg'" src="https://www.netmeds.com/images/category/v1/491/thumb/homeopathy_1.png" alt="Homeopathy" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img onerror="this.src='/assets/icons/img_placeholder.svg'" src="https://www.netmeds.com/images/category/prod/thumb/ayurvedic.png" alt="Ayurvedic" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img onerror="this.src='/assets/icons/img_placeholder.svg'" src="https://www.netmeds.com/images/category/v1/3222/thumb/vitamins_and_supplements_3.png" alt="Vitamins And Supplements" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img onerror="this.src='/assets/icons/img_placeholder.svg'" src="https://www.netmeds.com/images/category/prod/thumb/sexual_health_supplements.png" alt="Sexual Health Supplements" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img onerror="this.src='/assets/icons/img_placeholder.svg'" src="https://www.netmeds.com/images/category/prod/thumb/diabetes_care_ayurveda.png" alt="Diabetes Care Ayurveda" width="200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
  </main>
</body>
</html>

